/* * {
    border: 1px solid red;
}

h1{
    color: green;
} 

.verde{
    color: green;
}

p.verde{
    color: green;
}

#cabecalho{
    border: 1px solid black;
}

li>a{
    color: red;
    text-decoration: none;
}

p a{
    color: green;
} */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;  /* Nada sai da tela do body */
    color: white;
    background: black;
}

.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10% 15%;
}

.apresentacao-conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao-button{
    display: flex;
    justify-content: space-between;
}

.front{
    color: #22D4FD;
}

@font-face {
    font-family: 'Krona-one';
    src: url(KronaOne-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
    font-family: 'Montserrat';
    src: url(Montserrat-VariableFont_wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
} */

 h1{
    font-size: 36px;
    font-family: 'Krona-one';
    font-weight: 400;
    line-height: 56px; 
} 

p{
    font-size: 24px;
    font-family: 'Montserrat';
}

.link {
    background-color: #22D4FD;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-family: 'Montserrat';
    padding: 21.5px 0;
    text-decoration: none;
    color: black;
    font-weight: 600;
}