@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600&display=swap');

@font-face {
    font-family: 'Krona-one';
    src: url(../assets/KronaOne-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{ /*Criação de variaveis*/

    /*--cor-primaria: #2B3499;
    --cor-secundaria: #FF6C22;
    --cor-terciaria: #FF9209;
    --cor-alternante: #FFD099;*/
  
    /* --cor-primaria: #3D30A2;
    --cor-secundaria: #B15EFF;
    --cor-terciaria: #FFA33C;
    --cor-alternante: #FFFB73; */

    /* --cor-primaria: #61A3BA;
    --cor-secundaria: #FFFFDD;
    --cor-terciaria: #D2DE32;
    --cor-alternante: #A2C579; */

    /* --cor-primaria: #004225;
    --cor-secundaria: #F5F5DC;
    --cor-terciaria: #FFB000;
    --cor-alternante: #477f08; */

    --cor-primaria: #1C1C1C;
    --cor-secundaria: #FA3D3B;
    --cor-terciaria: #C6C6C6;
    --cor-alternante: #6e6868;

    /* --cor-primaria: #1c1c1c;
    --cor-secundaria: #23714D;
    --cor-terciaria: #F1CCBA;
    --cor-alternante: #f7dacb; */

    --fonte-primaria: 'Krona-one', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0; /*A margem de todo o projeto foi resetada --> definida como 0*/
    padding: 0; /*O espaçamento de todo o projeto foi resetado --> definido como 0*/
}

body{
    /* height: 100vh;*/
    box-sizing: border-box;  /* Nada sai da tela do body */
    color: var(--cor-secundaria);
    background: var(--cor-primaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%; /*O primeiro valor é o top, o segundo é o right, o terceiro é o bottom e o quarto é o left*/
}

.barra {
    display: none;
}

.cabecalho-menu {
    display: flex;
    gap: 80px;
}

.menu-link {
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    color: var(--cor-terciaria);
}

.apresentacao{
    display: flex; /* Torna o elemento flexivel --> flex-box*/
    align-items: center; /*Alinha os itens no centro*/
    justify-content: space-between; /*Cria um espaço entre os elementos da flex-box*/
   /*margin: 10% 15%; Cria uma margem nos objetos*/
    padding: 5% 15%;
    gap: 82px;
}

.apresentacao-conteudo{
    width: 100%; /*A largura do conteiner*/
    display: flex;
    flex-direction: column; /*A direção dos elementos é definido por padrão como row, horizontalmente, nesse caso está sendo transformado em coluna*/
    gap: 40px; /*Espaçamento dos itens*/
}

.apresentacao-button{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
}

.apresentacao-subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 0.875rem;
}

.front{
    color: var(--cor-terciaria);
}

/* @font-face {
    font-family: 'Montserrat';
    src: url(Montserrat-VariableFont_wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
} */

h1{
    font-size: 2rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    line-height: 50px; 
} 

h2 {
    font-size: 1.375rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    line-height: 10px;
}

p{
    font-size: 0.875rem;
    font-family: var(--fonte-secundaria);
}

.titulo-curriculo {
    line-height: 10px;
}

.apresentacao-lista {
    display: flex;
    flex-direction: column;
}

.apresentacao-lista-conteudo {
    font-family: var(--fonte-secundaria);
}

.link-imagem {
    width: 1.25rem;
}

.link {
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center; /*Centraliza o conteudo dentro da flex-box*/
    gap: 16px; /*Cria um espaço entre os elementos*/
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 0.875rem;
    font-family: var(--fonte-secundaria);
    padding: 15px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-weight: 600;
}

.foto-nicholas {
    width: 40%;
}

.link-simples {
    text-decoration: underline;
    color: var(--cor-terciaria);
}

.link:hover {
    background-color: var(--cor-alternante);
}

.rodape{
    padding: 16px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.125rem;
    font-weight: 400;
}

/*Parte dos projetos*/

.projetos__principais {
    display: flex;
    flex-direction: row;
    gap: 9em;
}

.projetos__paragrafo {
    font-size: 1em;
}

.projetos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    box-sizing: border-box;
    width: 60%;
    border: 3px solid #FA3D3B;
    margin-bottom: 1em;
    border-radius: 1em;
}

.projetos__imagem {
    width: 100%;
    border-radius: 0.9em;
}

.projetos__texto {
    text-align: center;
    font-size: 0.8em;
}

.projetos__links {
    color: var(--cor-terciaria);
}

@media (max-width: 1200px) {

    .cabecalho {
        padding: 7% 5%;
    }

    .cabecalho-menu {
        justify-content: center;
        gap: 10px;
    }

    .foto-nicholas {
        width: 60%;
    }

    .menu-about {
        text-align: center;
    }

    .barra {
        display: block;
        color: var(--cor-terciaria);
    }

    .apresentacao {
        flex-direction: column-reverse; /*A tag apresentação se tornou uma coluna ao contrario*/
        padding: 5%;
    }

    .apresentacao-conteudo {
        width: 100%; /*Largura automatica pra se adaptar, poderia ser auto*/
    }   

    .apresentacao-lista {
        padding: 0% 5%;
    }

    .projetos__titulo {
        text-align: center;
    }

    .projetos__paragrafo {
        text-align: center;
    }

    .projetos__principais {
        flex-direction: column;
        gap: 0.4em;
    }

    .projetos {
        width: 80%;
    }

    .rodape {
        font-size: 1em;
        padding: 0.8em;
    }
}